<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=url("admin/services/linkease_status")%>', null,
		function(x, st)
		{
			var tb = document.getElementById('linkease_status');
			if (st && tb)
			{
				var desktopBase = st.desktop_base_path || "/apps/";
				if (desktopBase.charAt(0) !== "/")
				{
					desktopBase = "/" + desktopBase;
				}
				if (desktopBase.charAt(desktopBase.length - 1) !== "/")
				{
					desktopBase = desktopBase + "/";
				}
				var fullUrl = "http://" + window.location.hostname + ":" + (st.desktop_port || 19290) + desktopBase;
				var legacyUrl = "http://" + window.location.hostname + ":" + (st.port || 8897) + "/";
				var fileUrl = '<%=url("admin/services/linkease/file")%>';
				var anyRunning = st.desktop_running || st.apptunnel_running;
				var overallStatus = anyRunning
					? '<br/><em style=\"color:green\"><%:The LinkEase service is running.%></em>'
					: '<br/><em style=\"color:red\"><%:The LinkEase service is not running.%></em>';
				var desktopStatus = st.desktop_running
					? '<br/><em style=\"color:green\"><%:Full UI is running.%></em>'
					: '<br/><em style=\"color:red\"><%:Full UI is stopped.%></em>';
				var apptunnelStatus = st.apptunnel_running
					? '<br/><em style=\"color:green\"><%:Remote access is running.%></em>'
					: '<br/><em style=\"color:red\"><%:Remote access is stopped.%></em>';
				tb.innerHTML = overallStatus
					+ desktopStatus
					+ apptunnelStatus;

				function appendBreak()
				{
					tb.appendChild(document.createElement("br"));
				}

				function appendButton(value, action)
				{
					var button = document.createElement("input");
					button.className = "btn cbi-button cbi-button-apply";
					button.type = "button";
					button.value = value;
					button.onclick = action;
					tb.appendChild(button);
				}

				if (st.desktop_running)
				{
					appendBreak();
					appendBreak();
					var button = document.createElement("input");
					button.className = "btn cbi-button cbi-button-apply";
					button.type = "button";
					button.value = " <%:Click to open LinkEase Full%> ";
					button.onclick = function() { window.open(fullUrl); };
					tb.appendChild(button);
				}

				appendBreak();
				appendButton(" <%:Click to open LinkEase Legacy%> ", function() { window.open(legacyUrl); });
				appendBreak();
				appendButton(" <%:Click to open Files%> ", function() { window.open(fileUrl); });
			}
		}
	);
//]]></script>

<fieldset class="cbi-section">
	<legend><%:LinkEase Status%></legend>
	<p id="linkease_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
